# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Node modules
node_modules/

# Environment Variables
.env

# Production build
/build

# Coverage directory
coverage/

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm